.App {
  text-align: center;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.section {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group label {
  font-size: 16px;
  width: 200px; /* Adjust the width as needed */
  text-align: center; /* Align the label text to the right */
}

.input-group input {
  padding: 5px;
  font-size: 16px;
  width: 200px;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.coin-denominations-list,
.coin-change-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.coin-item {
  font-size: 16px; /* Ensure the font size is the same */
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.common-style {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
